<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Jeśli żądany plik lub katalog fizycznie istnieje, nie rób nic
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # W przeciwnym wypadku skieruj wszystko na główny index.html aplikacji React
  RewriteRule . /index.html [L]
</IfModule>