body{
    background-color: #191009;
    color: #DDDDD5;
    font-weight: bold;
}
#root {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #DDDDD5;
}
/* Dropdown Button */
.dropbtn {
    background-color: #373327;
    color: #DDDDD5;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #191009;
    z-index: 1;
    font-family: akira;
}

/* Links inside the dropdown */
.dropdown-content h5 {
    color: #DDDDD5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #1C120A;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #403B2D;
}
.border-3{
    border: #DDDDD5;
    background-color: #C51515;
    color: #DDDDD5;
}
.logo{
    background-color: #373327;
    font-family: akira;
}
.logo:hover{
    background-color: #403B2D;
}
@font-face {
  font-family: akira;
  src: url(AODfont.otf);
}
.font{
    font-family: akira;
}
.border-4{
    border: #DDDDD5;
}
.offer:hover {
    background-color: #d31717;
}
input{
    background-color: #373327;
    color: #DDDDD5;
    font-weight: bold;
}
table{
    border: #DDDDD5;
    background-color: #191009;
    font-weight: bold;
}
thead{
    font-family: akira;
    background-color: #191009;
}
.discount{
    font-weight: normal;
}
thead{
    background-color: #373327;
}
tbody{
    background-color: #373327;
}
.table-part-top{
    background-color: #373327;
}
.table{
    background-color: #373327;
}
.table:hover{
    background-color: #403B2D;
}
.btnsrch{
    margin-left: 10px;
    border-width: 2px;
    font-family: akira;
}
.border-1{
    border: #DDDDD5;
    background-color: #373327;
    color: #DDDDD5;
}
.btn-zaz{
    background-color: #C51515;
}
.btn-zaz:hover{
    background-color: #d31717;
}
.btn-odz{
    background-color: #373327;
}
.btn-odz:hover{ 
    background-color: #403B2D;
}
.btn-kirk{
    border-radius: 0%;
}
.border-6{
    border: #DDDDD5;
    border-width: 1px;
}
.box-idk{
    background-color: #373327;
}
.inp-srch{
    margin-left: 15px;
}
.tbd{
    font-weight: bold;
}
input:focus {
    outline: 3px solid #DDDDD5;
  }
::selection {
  color: #191009;
  background: #DDDDD5;
}
/* Code for Firefox */
  ::-moz-selection { 
  color: #191009;
  background: #DDDDD5;
}
#Error_box{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #DDDDD5;
}
.btnsrch:hover{
    background-color: #d31717;
}
.noaccount{
    color: #C51515;
    text-shadow:
                -2px -2px 0 #DDDDD5,
                2px -2px 0 #DDDDD5,
                -2px 2px 0 #DDDDD5,
                2px 2px 0 #DDDDD5,
                -3px 0px 0 #DDDDD5,
                3px 0px 0 #DDDDD5,
                0px -3px 0 #DDDDD5,
                0px 3px 0 #DDDDD5;
}
.noaccount:hover{
    color: #d31717;
}